@import 'reset';
@import 'mixins';
@import 'tabs';
@import 'colors';
@import 'btns';
@import 'form-add';
@import 'loader';

// @import './section/lists';
@import 'card';

/* Fonts */
@font-face {
  font-family: oktaneue_neue_regular;
  src: url(/fonts/OktaNeue-Regular.ttf) format("truetype");
}

@font-face {
  font-family: oktaneue_neue_bold;
  src: url(/fonts/OktaNeue-Bold.ttf) format("truetype");
}

@font-face {
  font-family: oktaneue_neue_light;
  src: url(/fonts/OktaNeue-ExtraLight.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  @include oktaneue-regular;
  background: $base;
}

section {
  width: 100%;
  height: 100%;
}

/*Generales*/
.f-neue {
  &--bold {
    @include oktaneue-bold;
  }

  &--light {
    @include oktaneue-light;
  }
}

.d {
  &-grid {
    display: grid;
  }

  &-flex {
    display: flex;
  }
}

.center {
  place-items: center;

  &-start {
    @extend .center;
  }

  &-end {
    @extend .center;
  }
}

.g {
  &-5 {
    gap: 5px;
  }

  &-15 {
    gap: 15px;
  }

  &-30 {
    gap: 30px;
  }
}

.m {
  &--0 {
    margin: 0;
  }

  &b {
    &--5 {
      margin: 0 0 5px;
    }

    &--15 {
      margin: 0 0 15px;
    }

    &--30 {
      margin: 0 0 30px;
    }
  }
}

.p {
  &-15 {
    padding: 15px;
  }

  &-section {
    padding: 30px 15px;
  }
}

.cont {
  &-instruc {
    width: 100%;
  }

  &-area {
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0 0.25rem 1rem $box-shadow-color;

    // Aplicar margen inferior a todos los hijos excepto al último
    >*:not(:last-child):not(summary) {
      margin-bottom: 5px;
    }

    // Animación para los elementos dentro de .area que no sean summary
    >*:not(summary) {
      @include fadeInSlideUpElements($body-select, $body-total, $body-time, $body-delay);
    }

    // Estilos para summary dentro de .area
    summary {
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 0;
      transition: margin-bottom .4s;
      position: relative;

      // Ocultar el marcador predeterminado de summary
      &::-webkit-details-marker,
      &::marker {
        display: none;
      }

      // Estilos para el icono después de summary
      &::after {
        content: "\f067";
        display: grid;
        place-content: center;
        font-family: "Font Awesome 5 Free";
        font-size: 20px;
        background-color: rgba($purple, 0.1);
        padding: .75rem;
        aspect-ratio: 1;
        line-height: 0;
        top: -5px;
        right: 0;
        color: $purple;
        border-radius: 50%;
      }
    }

    &[open] {
      summary {
        margin-bottom: 15px;

        &::after {
          content: "\f068";
        }
      }
    }

    .area {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }
}

.separator {
  &--line {
    width: 100%;
    height: 1px;
  }
}

.label-input {
  grid-template-columns: 1fr 75%;
  align-items: center;

  input {
    width: fit-content;
  }
}


.owak {
  width: min(350px, 100%);
}

.c2m {
  width: min(320px, 100%);
  letter-spacing: -3px;
  margin: 0 0 10px;

  span:nth-child(1) {
    @include oktaneue-light;
    justify-self: flex-start;
    font-style: italic;
  }

  span:nth-child(3) {
    width: 268px;
    margin: 0 0 0 auto;
  }
}


.bigtitle {
  font-size: 80px;
  line-height: .7;
}

.title {
  font-size: 26px;
  line-height: 1;
}

.subtitle {
  font-size: 28px;
  line-height: 1;
}

.paragraph {
  font-size: 19px;
}

.legal {
  font-size: 14px;
  line-height: 1.2;
}

.border {
  &-gray {
    border: 1px solid $gray;
  }

  &-purple {
    border: 1px solid $purple;
  }

  &-white {
    border: 1px solid $white;
  }
}

.txt {
  &-darkgray {
    color: $darkgray;
  }

  &-orange {
    color: $orange;
  }

  &-purple {
    color: $purple;
  }

  &-white {
    color: $white;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }
}

.b {
  &r {
    &-15 {
      border-radius: 15px;
    }
  }

  &g {
    &-base {
      background-color: $base;
    }

    &-orange {
      background-color: $orange;
    }

    &-gray {
      background-color: $gray;
    }

    &-purple {
      background-color: $purple;
    }

    &-welcome {
      background: url('../../public/assets/back-owak.png') no-repeat center/cover;
    }

    &-white {
      background-color: $white;
    }
  }
}

@media screen and (width > 768px) {
  .p {
    &-section {
      padding: 30px;
    }
  }

  main {
    height: 100vh;
    grid-template-columns: 45% 55%;
  }

  .of {
    &-y {
      overflow-y: scroll;
    }
  }
}